<div id='summary'>
	<h2>Summary</h2>
	<p>This assignment is worth 5 points which will be taken from 5 of the questions that you answer below. If more than 5 questions are answered, point preference will be given to the correct answers. It is in your best interest to answer as many questions as possible, both to guarantee your grade but also to prepare for the test.</p>

	<p>Some questions will ask you to write out query results from a database. In order to answer these questions you will need to have the example database available to you. The database is linked to below in 3 different implementations; use the form that applies to the application that you are using. If you do not know which application to use, refer to <a href='/cs109/#applications'>the syllabus</a> for help in deciding.</p>

	<table style='width: 100%; text-align: center;'>
		<tr>
			<td width="33%">
				<a href='/database/CS109.bak'><h3>Microsoft SQL Server</h3>
				<img width='100px' src='/images/MSSQL.png' /></a>
			</td>
			<td width="33%">
				<a href='/database/CS109_mysql.sql'><h3>MySQL</h3>
				<img width='100px' src='/images/MySQL.png' /></a>
			</td>
			<td>
				<a href='/database/CS109.sqlite'><h3>SQLite</h3>
				<img width='100px' src='/images/SQLite.png' /></a>
			</td>
	</table>

	<p>It may be helpful to see the database in a more graphical layout. I have also created a <a href='/database/CS109.pdf'>diagram of the database</a> that you may use as a reference.</p>

	<p>All query results must be in tabular format for the answer to be considered correct. If the question specifies a column order or naming scheme then this will also have to be adhered to.</p>

	</blockquote>
</div>