{% extends "cs109/base.twig" %}

{% block title %}CS109 SQL - Syllabus{% endblock %}

{% block content %}
<h1 class='title'>Syllabus</h1>
<h3>Course Schedule Information</h3>
<p>
	CS A109, Computer Programming:  SQL, 3.0 cr.<br/>
	CRN 76423, Section 601<br/>
	MW 4:00-5:15pm, ESH 202
</p>

<h3>Instructor Information</h3>
<p>
	Ryan Nixon<br/>
	Phone: (907) 602-2349<br/>
	Email: <a href='srnixon@uaa.alaska.edu'>srnixon@uaa.alaska.edu</a><br/>
	Homepage: <a href='/'>http://math.uaa.alaska.edu/~srnixon</a>
</p>

<h3>Office hours</h3>
<p>MW 5:30-7:00pm. I will be located in the <a href='https://maps.google.com/maps?q=Sally+Monserud+Hall,+Providence+Drive,+Anchorage,+AK&amp;hl=en&amp;ll=61.188913,-149.831715&amp;spn=0.002746,0.009645&amp;sll=61.108864,-149.440311&amp;sspn=0.704636,2.469177&amp;oq=Sally+Monser&amp;hnear=Sally+Monserud+Hall,+2545+Providence+Dr,+Anchorage,+Alaska+99508&amp;t=m&amp;z=17'>Sally Monserud Hall</a> in the open area near the ITS Open Computer Lab. If you would like to meet during different hours please make an appointment with me. I'm generally more responsive through email but if you call and I cannot answer I will do my best to get back to you in a reasonable timeframe.</p>

<h3>Web Page Information</h3>
<p>There will be a course Web page posted at the address given above. Any changes in the syllabus, timeline, etc., will be announced in class and posted on the Web page. Any information posted there during the course of the semester will supersede any information contained in this printed syllabus. Various additional materials, such as assignments, will also be posted on the Web page.</p>

<h3>Textbook</h3>
<p>There is no textbook for this course. If you would like reference material to help with your studies you can look at the <a href='http://consortiumlibrary.org/'>Consortium Library's</a> collection of books about SQL.</p>

<h3>Disability Information</h3>
<p>Any students with disabilities who may need special accommodations should contact <a href='http://www.uaa.alaska.edu/dss/'>Disability Support Services</a> at 786-4530 as early in the semester as possible.</p>

<h3>Grading</h3>
<p>Grading in the course will be based on 9 assignments, an individual project, 3 tests and a final exam. Points for these elements are as follows:</p>

<blockquote>
	<table border=1 cellpadding=5>
		<tbody>
			<tr>
				<td>Units 1-9 assignments, 5 points each</td>
				<td>45</td>
			</tr>
			<tr>
				<td>Individual SQL Project</td>
				<td>30</td>
			</tr>
			<tr>
				<td>3 tests, 100 points each</td>
				<td>300</td>
			</tr>
			<tr>
				<td>Final exam</td>
				<td>100</td>
			</tr>
			<tr>
				<td>Throw out the lowest test score</td>
				<td>-100</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>375</td>
			</tr>
		</tbody>
	</table>
</blockquote>

<p>
Individual assignments and tests will receive points only, not letter grades. Grades will be assigned based on the total points accumulated by the end of the semester according to the curve below. This curve may be lowered if necessary.  It will not be raised.</p>

<blockquote>
	<table>
		<tbody>
			<tr>
				<td>90-100%</td>
				<td>A</td>
			</tr>
			<tr>
				<td>80-89%</td>
				<td>B</td>
			</tr>
			<tr>
				<td>70-79%</td>
				<td>C</td>
			</tr>
			<tr>
				<td>60-69%</td>
				<td>D</td>
			</tr>
			<tr>
				<td>Below 60%</td>
				<td>F</td>
			</tr>
		</tbody>
	</table>
</blockquote>

<h3>Software and Lab Information</h3>
<ul>
	<li>This course is divided into four blocks, corresponding to the four tests.  In general the pattern will be that a unit will be covered in lecture and the following class period will be devoted to working in the lab.</li>
	<li>The course is based on the version of SQL implemented by Microsoft Access.  Microsoft Access is installed in the computer science department lab, <a href='https://maps.google.com/maps?q=Social+Sciences+Building,+Alumni+Drive,+Anchorage,+AK&amp;hl=en&amp;ll=61.190573,-149.819645&amp;spn=0.002745,0.009645&amp;sll=61.108864,-149.440311&amp;sspn=0.704636,2.469177&amp;oq=Social+Science&amp;hnear=Social+Sciences+Bldg,+3190+Alumni+Dr,+Anchorage,+Alaska+99508&amp;t=m&amp;z=17'>SSB 172</a>. You can get into that lab using your student id. Microsoft Access is also available in the university&rsquo;s <a href='http://www.uaa.alaska.edu/computerlabs/anchoragecampus/'>ITS Open Computer Labs</a>.</li>
	<li>If you have a personal computer of your own, it may have Microsoft Access installed on it or you may be able to acquire a copy.  Note that it doesn't have to be the latest version.  The example database will work with versions of Access as old as Access 2000.  If you choose to use an older version, you would have to deal with differences in the user interface and minor changes in the implementation of SQL.</li>
	<li>If you want to use an alternative to Microsoft Office there are many options. Another open source project called LibreOffice provides similar functionality to the Office collection. The database program in the suite is known as Base.  You can download this program and get more information at <a href='http://www.libreoffice.org'>www.libreoffice.org</a>. Other implementations of SQL may also be used such as MySQL, Sqlite, and Microsoft SQL Server.</li>
	<li>What you have to keep in mind is that there are likely to be inconsistencies between Microsoft Access and the other implementations of SQL. If you choose to work with Base, you will have to deal with the fact that the course materials are oriented towards Microsoft Access. I will accept assignments in any of these formats.</li>
</ul>

<h3 id='applications'>Supported Applications</h3>
<p>Multiple SQL products are supported in this class. As a result you may choose which application to design your queries in. Feel free to choose from the below list a SQL database type that will work well for you. All products are free for personal use.</p>
<ul>
	<li>
		<p><strong>SQLite</strong> - A lightweight SQL database stored in a file. Very easy to install but lacking in usability.</p>
		<p><a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">SQLite Manager Firefox Extension</a></p>
	</li>
	<li>
		<p><strong>MySQL</strong> - Full-fledged database server. Some implementations may deeply integrate with your system. I have provided some suggestions that keep that to a minimum. Note that MySQL requires a separate product to work with the databases.</p>
		<p>
			Servers: <a href='http://www.apachefriends.org/en/xampp.html'>XAMPP</a>, <a href='http://www.mamp.info/en/index.html'>MAMP (Mac)</a>, <a href='http://www.wampserver.com/en/'>WAMP (Win)</a><br/>
			Clients: <a href='http://www.sequelpro.com/'>Sequel Pro (Mac)</a>, <a href='http://www.heidisql.com/'>HeidiSQL (Win)</a>
		</p>
	</li>
	<li>
		<p><strong>Microsoft SQL Server</strong> - Another full database server. This is Windows-only and is a rather large installation, however the product comes with its own management studio for working with SQL.</p>
		<p><a href='http://www.microsoft.com/sqlserver/en/us/editions/2012-editions/express.aspx'>Microsoft SQL Server Express</a></p>
	</li>
</ul>

<h3>Assignments</h3>
<ul>
	<li>BlackBoard is not used for this course other than the syllabus and course evaluations.</li>
	<li>The assignments are posted on the course Web page.</li>
	<li>Each unit has a set of numbered questions.  What you have to turn in for credit are the answers to any 5 questions for each unit.</li>
	<li>I am flexible with how you turn in your assignments. If you would like to number each answer in the layout of the assignment sheet that is acceptable. You may also turn in a .sql file containing your queries, but make sure that each query is prefixed with a comment describing which question it pertains to. Turning in the result set for a query will not be enough.</li>
	<li>It is in your interest to do at the very least either all of the evens, or all of the odds for each assignment.  This will give you comprehensive practice on what will be covered on tests.</li>
	<li>You turn in your assignments by email to my email address: <a href='mailto:srnixon@uaa.alaska.edu'>srnixon@uaa.alaska.edu</a>.</li>
	<li>The database for each assignments will be posted on assignment's specific Web page. In order to complete your assignment you will have to open this database and run your queries against it.</li>
	<li>Any version of Access later than the 2000 version should be able to open this database.</li>
	<li>It makes sense to save up all of the units belonging to a given test and send me queries for the assignments up through that test. The assignments for the units covered by a given test are due in my email box before the class period when the test is given.</li>
	<li>When applicable, I will post result sets for each question of an assignment that you can compare your results to. If you have questions you can ask me in person or send me email.</li>
	<li>How you do your homework is up to you.  More than one student may work together, for example, but all students have to hand in their own copies of the assignments in order to get individual credit. Under this system it would be possible for you to copy and paste the posted answers into your copy of the database, or exchange answers with other students in electronic form.  Let your conscience be your guide.</li>
	<li>The majority of points in the course come from tests, so test scores will have the greatest effect on the grade you receive. This does not mean that you can skip the assignments and only work on the tests. The assignments will have a cumulative effect on both your points as well as your knowledge of the test material. I highly suggest completing your assignments early and reviewing those answers before a test.</li>
</ul>

<h3>Individual SQL Project</h3>
<ul>
	<li>A project will be assigned for the last quarter of the semester that will provide a challenge encompassing that section as well as all prior sections. This project will involve creating and populating your own database as well as providing example queries for the data.</li>
	<li>Skipping the project is not advisable as it will effectively be worth three assignments and will provide an excellent study opportunity for the final exam.</li>
	<li>The project will be due by the end of finals week. This will allow students to focus on the final exam and still have time after it to finish the project.</li>
	<li>The project's subject will be chosen by the student within a reasonable set of requirements. Feel free to get creative!</li>
	<li>Team projects are allowed with permission. I will allow groups up to a maximum of four students.</li>
	<li>Further details about the project will be provided as the semester continues.</li>
</ul>


<h3>Tests</h3>
<ul>
	<li>Tests will consist of questions asking you to write SQL queries, as well as short answer questions.  Tests will be done with paper and pencil, not on the computer.</li>
	<li>The number of tests and their dates will not be changed.  If, by chance, less material is covered than is shown in the timeline before a test, only the material covered will be included on the test.</li>
	<li>Tests will be scheduled for a full class period and they will be given in the room where lectures are given, not in the lab.  It is up to you to pay attention to the syllabus and make sure you're going to the right room on any given day, especially a test day.</li>
	<li>There will not be a formal review for tests. If students come the day before the test with questions, as much of that period as is needed will be taken up answering them.  If students don't come with questions, the time will be devoted to other things.</li>
	<li>Using any resources not specifically approved by the instructor in advance when taking a test will result in a score reduced, possibly to zero.  These "forbidden" resources can be of any kind, including, but not limited to, consulting with someone else while taking the test, written notes, computer or other media, etc.</li>
	<li>If a student cannot take a test at the regularly scheduled time, a request to take it at an alternative time should be made in advance.  I try to have tests graded and hand them back one week after the day of the test. The last possible time to make up a test is the class period when it is being handed back corrected. In cases of emergency, when it&rsquo;s not possible to make a request in advance, requests will be considered up until the next class period.  It is not possible to make up a test after I have handed back graded copies.</li>
	<li>Note this carefully:  10 points will be deducted from the score on any test that is taken after the scheduled time.  Some people need to take tests late because of unforeseen emergencies, others need to because they have too many tests scheduled on one day, etc.  It is not possible for me to decide which cases are more worthy than others.  10 points will simply come off the top of any test which is not in my possession at the end of the scheduled test period.  10 points on one test is not likely to make the difference between one letter grade and another at the end of the semester.  If it happens more than once, it could have an effect.</li>
	<li>The 3 midterms and the final count equally.  The final test is not cumulative.  It is simply another test like the midterms, covering the material since the last midterm.  At the end of the semester the lowest individual test score will be thrown out and the total number of points earned in the course will be calculated on the basis of the 3 remaining test scores plus the points earned for homework.  In a situation where a student has not been able to take a test before I hand it back corrected, the student will have to take a zero on the test and rely on this policy to throw the score out.</li>
</ul>

<h3>Incompletes</h3>
<p>Certain conditions must be met in order to qualify for an incomplete, and certain conditions must be met in order to resolve an incomplete successfully.  Before requesting an incomplete you need to make sure that you qualify and that you are prepared to deal with the consequences of taking one.  Here is the university's incomplete grade policy as published in the catalog:</p>

<blockquote>
	&ldquo;An &ldquo;I&rdquo; (Incomplete) is a temporary grade.  It is used to indicate that a student has made satisfactory progress in the majority of the work in a course, but for unavoidable absences or other conditions beyond the control of the student, has not been able to complete the course.  The Incomplete Grade Contract, a signed contract form between the student and the faculty member that stipulates the assignment(s) required to finish the course, is required and must be completed for each &ldquo;I&rdquo; grade assigned and is to be maintained in the department or dean&rsquo;s office.  Course work must be completed by a date specified in the contract, not to exceed one year.  Upon completion of the required course work, the faculty member must submit a change of grade form to Enrollment Services.  If course work is not completed within one year or if the terms specified on the Incomplete Contract are not met, the student may be assigned a failing grade (F or NP, depending on the grading basis of the course).  If course work is not completed within one year and the faculty member does not submit a change of grade at that time, the &ldquo;I&rdquo; will become a permanent grade and it will be necessary for the student to re-register to obtain credit for the course.&rdquo;
</blockquote>

{% endblock %}