{% extends 'base.twig' %}

{% block title %}CS109 SQL{% endblock %}

{% block body %}
		<div id='title'>CS 109 SQL, Fall 2012</div>
		<div id='nav'>
			<ul>
				<li><a href='/cs109/'>Syllabus</a></li>
				<li><a href='/cs109/schedule/'>Schedule</a></li>
				<li><a href='/cs109/assignments/'>Assignments</a></li>
				<li><a href='/cs109/examples/'>Examples</a></li>
			</ul>
		</div>
		{% block content %}{% endblock %}
{% endblock %}