{% extends 'cs109/base.twig' %}


{% block content %}
		<h1 class='title'>Schedule</h1>
				
		<h2>August</h2>
		<dl>
			<dt>8/27 Monday</dt>
			<dd>Intro to CS 109, SQL and databases in general.  Start <a href='/cs109/lectures/1/html'>Unit 1, An Introduction to Relational Databases</a> <a href='/cs109/lectures/1/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</dd>
			<dt>8/29 Wednesday</dt>
			<dd>Finish Unit 1. <a href='/cs109/assignments/1'>Unit 1 assignment</a>.</dd>
		</dl>
			
			

		<h2>September</h2>
		<dl>
			<dt>9/3 Monday</dt>
			<dd>Labor Day holiday. No class.</dd>
			<dt>9/5 Wednesday</dt>
			<dd>LAB:  ID card entry to CS lab, logins, email, finding the course Web page and assignments, finding the SQL applications. Downloading an assignment DB, opening tables.</dd>
			<br/>

			<dt>9/10 Monday</dt>
			<dd><a href='/cs109/lectures/2/html'>Unit 2, Simple SQL Queries with Selection and Projection</a> <a href='/cs109/lectures/2/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</dd>
			<dt>9/12 Wednesday</dt>
			<dd>LAB: <a href='/cs109/assignments/2'>Unit 2 assignment</a>.</dd>
			<br/>
			
			<dt>9/17 Monday</dt>
			<dd><a href='/cs109/lectures/3/html'>Unit 3, Joins</a> <a href='/cs109/lectures/3/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a></dd>
			<dt>9/19 Wednesday</dt>
			<dd>LAB: <a href='/cs109/assignments/3'>Unit 3 assignment</a>.</dd>
			<br/>

			<dt>9/24 Monday</dt>
			<dd>Test 1, Units 1-3. Assignments 1, 2, &amp; 3 due before the class period begins.</dd>
			<dt>9/26 Wednesday</dt>
			<dd>
				<p><a href='/cs109/lectures/3-after/html'>Test 1 Review, Curriculum changes</a> <a href='/cs109/lectures/3-after/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</p>
				
				<p><a href='http://youtu.be/sU1fZZ0mEA0'>YouTube Video - Setting up SQLite</a></p>

				<p><a href='/uploads/cs109/Test 1 Example.pdf'>Test 1 Example</a>. (Note - there are many accepted answers to these questions)</p>
			</dd>
		</dl>


		<h2>October</h2>
		<dl>
			<dt>10/1 Monday</dt>
			<dd>
				<p><a href='/cs109/lectures/4/html'>Unit 4, Built-in Functions and Calculated Fields</a> <a href='/cs109/lectures/4/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</p>

				<p><a href='/uploads/cs109/Function Reference - SQLite.pdf'>Function Reference (SQLite) <img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</p>

				<p><a href='/uploads/cs109/Function Reference - MySQL.pdf'>Function Reference (MySQL) <img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</p>

				<p><a href='/uploads/cs109/Function Reference - MS SQL.pdf'>Function Reference (MS SQL) <img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</p>
			</dd>
			<dt>10/3 Wednesday</dt>
			<dd>LAB: <a href='/cs109/assignments/4'>Unit 4 assignment</a>.</dd>
			<br/>

			<dt>10/8 Monday</dt>
			<dd><a href='/cs109/lectures/5/html'>Unit 5, Aggregation, GROUP BY and HAVING</a> <a href='/cs109/lectures/5/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</dd>
			<dt>10/10 Wednesday</dt>
			<dd>LAB: <a href='/cs109/assignments/5'>Unit 5 assignment</a>.</dd>
			<br/>

			<dt>10/15 Monday</dt>
			<dd><a href='/cs109/lectures/6/html'>Unit 6, Views and Temporary Tables</a> <a href='/cs109/lectures/6/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</dd>
			<dt>10/17 Wednesday</dt>
			<dd>LAB: <a href='/cs109/assignments/6'>Unit 6 assignment</a>.</dd>
			<br/>

			<dt>10/22 Monday</dt>
			<dd>Test 2, Units 4-6. Assignments 4, 5, &amp; 6 due before the class period begins.</dd>
			<dt>10/24 Wednesday</dt>
			<dd>
				<p>Test 2 Review. <a href='/cs109/lectures/7/html'>Unit 7, Set Operations</a> <a href='/cs109/lectures/7/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</p>

				<p><a href='/uploads/cs109/Test 2 Example.pdf'>Test 2 Example</a>. (Note - there are many accepted answers to these questions)</p>
			</dd>
			<br/>

			<dt>10/29 Monday</dt>
			<dd>LAB: <a href='/cs109/assignments/7'>Unit 7 assignment</a>. I will be out of town</dd>
			<dt>10/31 Wednesday</dt>
			<dd>
				<p>Finishing Unit 7. Introducing the <a href='/cs109/assignments/#project'>Individual SQL Project</a>.</p>

				<p><a href='/cs109/lectures/7-after/html'>Unit 7 Review &amp; Project</a> <a href='/cs109/lectures/7-after/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a></p>

				<p><a href='/uploads/cs109/example databases.txt'>Example Databases</a>. These use the syntax described in <a href='/cs109/assignments/1'>assignment 1</a>.</p>
			</dd>
		</dl>


		<h2>November</h2>
		<dl>
			<dt>11/5 Monday</dt>
			<dd>
				<p><a href="/cs109/lectures/mid-semester-review/html">Review/Preview Lecture</a> <a href='/cs109/lectures/mid-semester-review/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</p>
				<p><a href="/uploads/cs109/Review - Joins.pdf">Review Slides - Joins</a></p>
				<p><a href="/uploads/cs109/Review - Grouping.pdf">Review Slides - Grouping</a></p>
				<p><a href="/uploads/cs109/Review - Temp-Views.pdf">Review Slides - Temporary Tables &amp; Views</a></p>
			</dd>
			<dt>11/7 Wednesday</dt>
			<dd>LAB: <a href='/cs109/assignments/7/'>Unit 7</a> / <a href='/cs109/assignments/sql-project'>Individual SQL Project Overview</a> assignment.</dd>
			<br/>

			<dt>11/12 Monday</dt>
			<dd>
				<p><a href='/cs109/lectures/9/html'>Unit 9, Creating Tables, Adding Keys &amp; Constraints</a> <a href='/cs109/lectures/9/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</p>
				<p><a href='/database/Example_Create_Table.sql'>Example Create Table statements</a></p>
				<p><a href='/database/CS109_sqlite.sql'>Example database creation script (SQLite)</a></p>
				<p><a href='/database/CS109_mysql.sql'>Example database creation script (MySQL)</a></p>
				<p><a href='/database/CS109_mssql.sql'>Example database creation script (MS SQL)</a></p>
			</dd>
			<dt>11/14 Wednesday</dt>
			<dd>LAB: <a href='/cs109/assignments/9'>Unit 9 assignment</a>.</dd>
			<br/>

			<dt>11/19 Monday</dt>
			<dd>Test 3, Units 7-9. Assignments 7, 8, &amp; 9 due before the class period begins.</dd>
			<dt>11/21 Wednesday</dt>
			<dd>Thanksgiving, no class</dd>
			<br/>

			<dt>11/26 Monday</dt>
			<dd>
				<p>Test 3 Review. <a href='/cs109/lectures/10/html'>Unit 10, Inserting, Updating, and Deleting Data</a> <a href='/cs109/lectures/10/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</p>

				<p><a href='/uploads/cs109/Test 3 Example.pdf'>Test 3 Example</a>. (Note - there are many accepted answers to these questions)</p>
			</dd>
			<dt>11/28 Wednesday</dt>
			<dd>LAB: Individual SQL Project.</dd>
		</dl>

		<h2>December</h2>
		<dl>
			<dt>12/3 Monday</dt>
			<dd><a href='/cs109/lectures/11/html'>Unit 11, Altering Tables and Defining Indexes</a> <a href='/cs109/lectures/11/pdf'><img alt="PDF" class='icon' src='/images/pdf.png' /></a>.</dd>
			<dt>12/5 Wednesday</dt>
			<dd>LAB: Individual SQL Project.</dd>
			<br/>

			<dt>12/10 Monday</dt>
			<dd>Final Exam 4:00pm-6:45pm, Units 10-11.</dd>

			<dt>12/14 Friday</dt>
			<dd>Individual SQL Project due by the end of the day.</dd>
		</dl>
{% endblock %}