{% extends 'cs201/lecture.twig' %}

{% block subject %}Syllabus, Introduction to Programming Concepts{% endblock %}

{% block summary %}
{{parent()}}
<ul>
	<li>Handing out the syllabus</li>
	<li>Introducing programming</li>
	<li>History of programming &amp; Java</li>
	<li>Programming paradigms</li>
	<li>Hello World.java</li>
	<li>Compiling a program</li>
</ul>
{% endblock %}

{% block notes %}{% endblock %}
