{% extends 'cs201/lecture.twig' %}

{% block subject %}Conditional Statements, Evaluating Boolean Expressions{% endblock %}

{% block summary %}
{{parent()}}
<ul>
	<li>Using if-else statements</li>
	<li>Nested if statements</li>
	<li>Boolean expressions &amp; variables</li>
	<li>Switch statements</li>
	<li>Ternary operators</li>
	<li>Comparing objects</li>
</ul>
{% endblock %}

{% block notes %}
{{parent()}}
<p><a href="/uploads/cs201/Branching.java">Branching.java</a></p>
{% endblock %}
