{% extends 'cs201/lecture.twig' %}

{% block subject %}Looping/Iterative Structures{% endblock %}

{% block summary %}
{{parent()}}
<ul>
	<li>Working with Loops</li>
	<li>While loops</li>
	<li>Do-while loops</li>
	<li>For loops</li>
	<li>Controlling loop logic</li>
</ul>
{% endblock %}

{% block notes %}
{{parent()}}
<p><a href="/uploads/cs201/Looping.java">Looping.java</a></p>
{% endblock %}
