{% extends 'cs201/lecture.twig' %}

{% block subject %}Methods, Scope{% endblock %}

{% block summary %}
{{parent()}}
<ul>
	<li>Defining &amp; calling methods</li>
	<li>The stack</li>
	<li>Class/Instance methods</li>
	<li>Variable scope</li>
	<li>The <code>this</code> keyword</li>
</ul>
{% endblock %}

{% block notes %}
{% endblock %}
