{% extends 'cs201/lecture.twig' %}

{% block subject %}Console Input/Output, Programming in IDEs{% endblock %}

{% block summary %}
{{parent()}}
<ul>
	<li>Introduction to NetBeans</li>
	<li>Working with the Console</li>
	<li>Additional System.out methods</li>
</ul>
{% endblock %}

{% block notes %}
{{parent()}}
<p>You may download Netbeans for your own use at <a href='http://netbeans.org/downloads/'>this link</a>. The version that we are using in class is NetBeans 7.2.1 for Java SE. If your computer does not already have Java installed then you may have to download NetBeans along with the Java JDK; you can download this from the NetBeans download page underneath the main selections. Look for this text:</p>
<blockquote>
	JDK 6 and later versions are required for installing and running the Java SE, Java EE and All NetBeans Bundles. You can download standalone JDK or <em>download the latest JDK with NetBeans IDE Java SE bundle</em>.
</blockquote>
{% endblock %}
