{% extends 'cs201/lecture.twig' %}

{% block landing %}
<p>Daily drills are short, relatively simple assignments that take approximately 30 minutes to complete. They are open-book, open-note, open-computer assignments administered during class. When you complete the drill's instructions call me over and I will check your work. If you cannot finish within the 30 minute window you may continue working on the program and email it to me by beginning of the next class.</p>
{% endblock %}

{% block last %}
{% block answer %}
<h2>Solution</h2>
{% endblock %}
{% endblock %}