{% extends "cs201/base.twig" %}

{% block title %}CS201 Programming Concepts I - Syllabus{% endblock %}

{% block content %}
<h1 class='title'>Syllabus</h1>
<h3>Course Schedule Information</h3>
<p>
	CS A201, Programming Concepts I, 3.0 cr.<br/>
	CRN 31324<br/>
	TR 11:30am-12:45pm, <a href='https://maps.google.com/maps?q=uaa+engineering+bldg&amp;hl=en&amp;ll=61.190826,-149.822252&amp;spn=0.005625,0.018325&amp;sll=61.108864,-149.440311&amp;sspn=0.721903,2.345581&amp;hnear=Engineering+Bldg,+3310+University+of+Alaska+at+Anchorage+Dr,+Anchorage,+Alaska+99508&amp;t=m&amp;z=16'>ENG 109</a>
</p>

<h3>Instructor Information</h3>
<p>
	Ryan Nixon<br/>
	Phone: (907) 602-2349<br/>
	Email: <a href='mailto:srnixon@uaa.alaska.edu'>srnixon@uaa.alaska.edu</a><br/>
	Homepage: <a href='/'>http://uaa.ryannixon.com/cs201/</a>
</p>

<h3>Office hours</h3>
<p>Sunday 3:00pm-6:00pm. My office is not in a convenient location for students. To that end, unless otherwise posted I will spend my office hours at the Kaladi Bros cafe in the <a href='https://maps.google.com/maps?q=Social+Sciences+Building,+Alumni+Drive,+Anchorage,+AK&amp;hl=en&amp;ll=61.190573,-149.819645&amp;spn=0.002745,0.009645&amp;sll=61.108864,-149.440311&amp;sspn=0.704636,2.469177&amp;oq=Social+Science&amp;hnear=Social+Sciences+Bldg,+3190+Alumni+Dr,+Anchorage,+Alaska+99508&amp;t=m&amp;z=17'>Social Sciences Building</a>. I am also available by appointment or email.</p>

<h3>Course Description</h3>
<p>The objective of this course is to introduce students to the fundamentals of computer programming and problem solving. It is designed as the first course for computer science majors. The emphasis is on the fundamentals concepts of computer science, including structured and object-oriented programming, syntax, semantics, testing/debugging, implementation, documentation, and recursion using the Java programming language. Students will be exposed to development with a professional IDE.</p>
<p>Upon completing the course students will understand how to:</p>
<ul>
	<li>Create, compile, and run a program</li>
	<li>Manipulate numeric variables with arithmetic operators</li>
	<li>Input, manipulate, and use string variables</li>
	<li>Declare object-reference variables, construct objects, call methods</li>
	<li>Write if statements, for, and while loops</li>
	<li>Write class definitions, incuding instance variables, constructors, and methods</li>
	<li>Design programs with effective error handling and recovery</li>
	<li>Define subclasses in an inheritance hierarchy</li>
</ul>

<h3>Textbook</h3>
<p>
	<a href='http://www.pearsonhighered.com/pearsonhigheredus/educator/product/products_detail.page?isbn=0132162709'>Java: An Introduction to Programming and Problem Solving.</a> 6th edition. Walter Savitch.  ISBN: 0132162709.
</p>
<p>The textbook for this course is required. While there will not be assigned reading much of the course content will be derived from the textbook. It is in your best interest to read through associated sections of the book when the class lecture discusses them as there are many exercises and additional information in them that will help your understanding of the topic.</p>

<h3>CS Lab</h3>
<p>The CS Computer Lab is available to all students taking this class. It is located in <a href='https://maps.google.com/maps?q=Social+Sciences+Building,+Alumni+Drive,+Anchorage,+AK&amp;hl=en&amp;ll=61.190573,-149.819645&amp;spn=0.002745,0.009645&amp;sll=61.108864,-149.440311&amp;sspn=0.704636,2.469177&amp;oq=Social+Science&amp;hnear=Social+Sciences+Bldg,+3190+Alumni+Dr,+Anchorage,+Alaska+99508&amp;t=m&amp;z=17'>SSB 172</a> and should already have all required software installed on the machines. The lab hours are posted at the entrance to the lab. You will need your WolfCard to enter the lab; if the door does not let you enter you can contact the WolfCard offices for help at 786-4695 or at the University Center.</p>

<h3>Grading</h3>
<p>Grading in the course will be based on daily drills for 10 of the lecture days, 4 assignments, a midterm and a final exam. Points for these elements are as follows:</p>

<blockquote>
	<table border=1 cellpadding=5>
		<thead>
			<tr>
				<th>Name</th>
				<th>Points</th>
				<th>%</th>
		</thead>
		<tbody>
			<tr>
				<td>Daily Drills, 6 points each</td>
				<td>60</td>
				<td>15%</td>
			</tr>
			<tr>
				<td>4 assignments, 25 points each</td>
				<td>100</td>
				<td>25%</td>
			</tr>
			<tr>
				<td>Midterm</td>
				<td>100</td>
				<td>25%</td>
			</tr>
			<tr>
				<td>Final Exam</td>
				<td>140</td>
				<td>35%</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>400</td>
				<td>100%</td>
			</tr>
		</tbody>
	</table>
</blockquote>

<p>Grades will be assigned based on the total points accumulated by the end of the semester according to the distribution below. This curve may be lowered if necessary, but will not be raised.</p>

<blockquote>
	<table border=1 cellpadding=5>
		<thead>
			<tr>
				<th>Score</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>90-100%</td>
				<td>A</td>
			</tr>
			<tr>
				<td>80-90%</td>
				<td>B</td>
			</tr>
			<tr>
				<td>70-80%</td>
				<td>C</td>
			</tr>
			<tr>
				<td>60-70%</td>
				<td>D</td>
			</tr>
			<tr>
				<td>Below 60%</td>
				<td>F</td>
			</tr>
		</tbody>
	</table>
</blockquote>

<h3>Assignments</h3>
<p>All assignments will be posted on the <a href='/cs201/schedule/'>course schedule</a>. Assignments are generally given around 2 weeks to complete and should have the source code turned in by email or <a href='http://www.uaa.alaska.edu/classes/'>Blackboard</a>. If turned in late they will lose 5 points per day that they are not submitted. Alternatively, turning in assignments early is encouraged. If you submit an assignment early enough and do not receive the desired score you may revise your solution and resubmit it provided that you stay within the deadline.</p>

<p>Assignments will be graded according to the following rubric:</p>
<ul>
	<li>10 points for a successfully compiling program.</li>
	<li>10 points for a program whose source code follows instructions and produces correct output.</li>
	<li>5 points for proper documentation including JavaDoc and appropriate use of comments and variable names.</li>
</ul>

<h3>Daily Drills</h3>
<p>Occasionally classes will begin with a Daily Drill. These assignments are small and are meant to test your knowledge of the course material taught so far. They will take approximately 30 minutes of class time to complete; if you do not finish in the alotted time you may submit your solution by the end of the day through email. Solutions for the drills will be posted the next day although this is subject to change.</p>

<h3>Tests</h3>
<p>There will be two tests, a midterm and the final exam. These tests are worth a significant portion of your grade and should be studied for. To that end a review session will be held in the class prior to a test. The tests themselves will follow these guidelines:</p>
<ul>
	<li>Open book &amp; open notes, but closed computer.</li>
	<li>The final exam will be cumulative.</li>
	<li>Questions will consist of code interpretation and writing of your own code.</li>
	<li>If you are going to miss a test, you must tell me <em>before</em> the test period begins. An alternate time to take the test can then be scheduled.</li>
</ul>

<h3>Disability Information</h3>
<p>Any students with disabilities who may need special accommodations should contact <a href='http://www.uaa.alaska.edu/dss/'>Disability Support Services</a> at 786-4530 as early in the semester as possible.</p>

<h3>Incompletes</h3>
<p>Certain conditions must be met in order to qualify for an incomplete, and certain conditions must be met in order to resolve an incomplete successfully.  Before requesting an incomplete you need to make sure that you qualify and that you are prepared to deal with the consequences of taking one.  Here is the university's incomplete grade policy as published in the catalog:</p>

<blockquote>
	&ldquo;An &ldquo;I&rdquo; (Incomplete) is a temporary grade.  It is used to indicate that a student has made satisfactory progress in the majority of the work in a course, but for unavoidable absences or other conditions beyond the control of the student, has not been able to complete the course.  The Incomplete Grade Contract, a signed contract form between the student and the faculty member that stipulates the assignment(s) required to finish the course, is required and must be completed for each &ldquo;I&rdquo; grade assigned and is to be maintained in the department or dean&rsquo;s office.  Course work must be completed by a date specified in the contract, not to exceed one year.  Upon completion of the required course work, the faculty member must submit a change of grade form to Enrollment Services.  If course work is not completed within one year or if the terms specified on the Incomplete Contract are not met, the student may be assigned a failing grade (F or NP, depending on the grading basis of the course).  If course work is not completed within one year and the faculty member does not submit a change of grade at that time, the &ldquo;I&rdquo; will become a permanent grade and it will be necessary for the student to re-register to obtain credit for the course.&rdquo;
</blockquote>

{% endblock %}