{% extends 'cs201/base.twig' %}

{% block styles %}

<style type='text/css'>

.quote {
	float: left;
	width: 150px;
	text-align: center;
}

.quote img {
	max-width: 150px;
}

</style>

{% endblock %}

{% block content %}
<h1 class='title'>Jobs</h1>

<p>Below are a number of organizations that are known to offer internship opportunities for degree-seeking Computer Science students. If you are in need of employment or an internship you may want to look into the current positions being offered at these organizations.</p>

<a class='quote' style='float: left;' href='http://www.asdk12.org/'><img src='/uploads/cs201/jobs/asd.png' /></a>
<h3>Anchorage School District</h3>
<p><strong>URL:</strong> <a href='http://www.asdk12.org/'>http://www.asdk12.org/</a></p>
<hr class='clear' />

<a class='quote' style='float: left;' href='http://www.designpt.com/'><img src='/uploads/cs201/jobs/dpt.png' /></a>
<h3>Design-PT, Inc.</h3>
<p><strong>URL:</strong> <a href='http://www.designpt.com/'>http://www.designpt.com/</a></p>
<hr class='clear' />

<a class='quote' style='float: left;' href='http://pangomedia.com/'><img src='/uploads/cs201/jobs/pango.gif' /></a>
<h3>PangoMedia</h3>
<p><strong>URL:</strong> <a href='http://pangomedia.com/'>http://pangomedia.com/</a></p>
<hr class='clear' />

<a class='quote' style='float: left;' href='http://www.resdat.com/'><img src='/uploads/cs201/jobs/rdi.gif' /></a>
<h3>Resource Data, Inc.</h3>
<p><strong>URL:</strong> <a href='http://www.resdat.com/'>http://www.resdat.com/</a></p>
<hr class='clear' />

<a class='quote' style='float: left;' href='http://doa.alaska.gov/dop/workplace/'><img src='/uploads/cs201/jobs/soa.png' /></a>
<h3>State of Alaska</h3>
<p><strong>URL:</strong> <a href='http://doa.alaska.gov/dop/workplace/'>http://doa.alaska.gov/dop/workplace/</a></p>
<hr class='clear' />

<a class='quote' style='float: left;' href='http://www.wostmann.com/'><img src='/uploads/cs201/jobs/wostmann.jpg' /></a>
<h3>Wostmann &amp; Associates, Inc.</h3>
<p><strong>URL:</strong> <a href='http://www.wostmann.com/'>http://www.wostmann.com/</a></p>
<hr class='clear' />


{% endblock %}