{% extends "base.twig" %}

{% block title %}Ryan Nixon's Homepage{% endblock %}

{% block body %}
	<h1>Ryan Nixon</h1>
	<h2>Current Courses</h2>
	<div>
		<h3><a href='/cs109/'>CS A109, Computer Programming: SQL</a>, MW 4:00-5:15pm</h3>
		<p>Introduces database management systems and the techniques for organizing data in them. The SQL language will be used to create, update and delete database components and extract useful information from a database.</p>
	</div>

	<div>
		<h3><a href='/cs201/'>CS A201, Programming Concepts I</a>, TR 11:30am-12:45pm</h3>
		<p>An introduction to object-oriented programming techniques and problem solving. This includes basic syntax; sequential, branching, and looping execution; as well as concepts such as inheritance, encapsulation, and polymorphism.</p>
	</div>

{% endblock %}