{% extends 'cs201/drill.twig' %}

{% block subject %}Drill 1 - Latitude/Longitude{% endblock %}

{% block summary %}
{{parent()}}
<p>Design and write a program that will take a given latitude or longitude coordinate in decimal format and convert it into component Degrees, Minutes and Seconds and back again. Upon each conversion your program should print the result to the console. For example, if you set the input coordinate to be 61.190758 decimal degrees then the program should output the following:</p>
<blockquote>
	<code>
		61, 11, 26.728800000008732<br/>
		61.190758
	</code>
</blockquote>

<p>Below are directions and pseudocode on how to convert between the two formats which you should read through before attempting to write your program. When your program compiles and runs successully, call me over and I will mark you off as complete. You have 30 minutes to complete this; if you don't finish in time you can email your solution to me by the end of the day.</p>

<h3>Converting from decimal degrees to degrees, minutes, seconds</h3>
<ul>
	<li>
		<strong>61 Degrees (integer)</strong><br/>
		This is found by taking the decimal degrees and looking at only the part of the number to the left of the decimal point. The easiest way to calculate this is to forcibly cast the input number to an <code>integer</code> which will truncate everything to the right of the decimal point.

		<pre class='brush: java; toolbar: false;'>
			degrees = (int)input;
		</pre>
	</li>
	<li>
		<strong>11 Minutes (integer)</strong><br/>
		To find this number, you should take the original decimal degrees and calculate the remainder of a division by 1 using the <em>modulus operator</em>, then multiply by 60. This will result in a <code>float</code>/<code>double</code> whose value to the left of the decimal point is the minutes. Keep this value in a temporary variable to find the seconds later, and store the <code>integer</code> value of it in another variable to get the minutes.

		<pre class='brush: java; toolbar: false;'>
			tmp = (input % 1) * 60;
			minutes = (int)tmp;
		</pre>
	</li>
	<li>
		<strong>26.728800000008732 (double)</strong><br/>
		Using the same strategy as for minutes, calculate the modulus by 1 of the temporary variable you created in the previous step. This value can be left in its <code>double</code> data type and stored as the seconds.

		<pre class='brush: java; toolbar: false;'>
			seconds = (tmp % 1) * 60;
		</pre>
	</li>
	<li>
		<strong>Print to the console</strong><br/>
		Using System.out.println, display the result of these calculations. Depending on what you named your variables the line may look similar to this:
		<pre class='brush: java; toolbar: false;'>
			System.out.println(degrees + ", " + minutes + ", " + seconds);
		</pre>
	</li>
</ul>

<h3>Converting from degrees, minutes, seconds to decimal degrees</h3>
<ul>
	<li>
		<strong>61.190758 Decimal Degrees (double)</strong><br/>
		Use the following equation to calculate the decimal degrees from the 3 variables you previously calculated. You will <em>need to handle any casts</em> where necessary and use the variable names you chose in your program:

		<pre class='brush: java; toolbar: false;'>
			decDegrees = degrees + minutes / 60 + seconds / 3600;
		</pre>
	</li>
	<li>
		<strong>Print to the console</strong><br/>
		Using System.out.println, display the result of this equation. Depending on what you named your variables the line may look similar to this:
		<pre class='brush: java; toolbar: false;'>
			System.out.println(decDegrees);
		</pre>
	</li>
</ul>
{% endblock %}

{% block notes %}
{{parent()}}
<p>Remember that <code>long</code> is a data type in Java and thus a reserved word. You cannot use it as the name of a variable.</p>

<p>Be sure to compile and run your program and verify that it outputs the correct values. There are a number of casts required in this program that can dramatically alter the result if not caught.</p>
{% endblock %}

{% block answer %}
{{parent()}}
<p><a href='/uploads/cs201/LatLong.java'>LatLong.java</a></p>

<pre class='brush: java; toolbar: false;'>
class LatLong {

	public static void main(String[] args) {
		//Take a given latitude or longitude in decimal format
		double input = 61.190758;

		//Grab the degrees component by casting to an integer (truncation)
		int degrees = (int)input;

		//Use a temporary variable to grab the decimal component of the coordinate
		//Multiply by 60 to get the minutes
		double tmp = (input % 1) * 60;

		//Cast the minutes to an integer, truncating the decimal component
		//The decimal component will end up being the seconds
		int minutes = (int)tmp;

		//Use the temporary variable again to find the seconds using the same method as the minutes
		double seconds = (tmp % 1) * 60;

		//Print the results to the screen
		System.out.println(degrees + ", " + minutes + ", " + seconds);

		//Print out the result of converting back to decimal degrees.
		//Note the cast to double where two integers were being divided
		double decDegrees = degrees + (double)minutes / 60 + seconds / 3600;
		System.out.println(decDegrees);
	}
}
</pre>

{% endblock %}
