{% extends 'cs201/lecture.twig' %}

{% block subject %}Data Types, Vars &amp; Arithmetic{% endblock %}

{% block summary %}
{{parent()}}
<ul>
	<li>Declaring and initializing variables</li>
	<li>Overview of the primitive data types</li>
	<li>Modifying variables in place</li>
	<li>Using expressions</li>
	<li>Using named constants</li>
	<li>Declaring class-level variables</li>
	<li>Casting variables between two data types</li>
</ul>
{% endblock %}

{% block notes %}
{{parent()}}
<p><a href='/uploads/cs201/HelloWorld.java'>Hello World example program</a></p>
<p><a href='/uploads/cs201/CarExample.java'>Annotated Car example program</a></p>
<p><a href='/uploads/cs201/Fahrenheit.java'>Simple fahrenheit to celcius converter</a></p>
{% endblock %}
