{% extends 'cs201/lecture.twig' %}

{% block subject %}Continuing Data Types, Strings{% endblock %}

{% block summary %}
{{parent()}}
<ul>
	<li>Brief overview of classes &amp; objects</li>
	<li>The String object</li>
	<li>String concatenation</li>
	<li>Using escape characters</li>
	<li>String methods</li>
</ul>
{% endblock %}

{% block notes %}{% endblock %}
